<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Site</title>
        <meta name="description" content="Lend/borrow used college books.">
        <meta name="keywords" content="lend, borrow, college, used books">
    </head>
    <body>
        <h1>My Site</h1>
        <p>Lend and borrow used college books</p>
        <hr>
        <p>Please fill-in the details below.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
